<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="credentials" type="Config.Credentials, Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="fileSystemExport" type="Config.FileSystemExport, Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="imapFolders" type="Config.ImapFolders, Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="imapService" type="Config.ImapService, Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <credentials username="" password="" />
    <fileSystemExport exportDir="" />
    <imapFolders sourceFolder="" processedFolder="" attentionFolder="" />
    <imapService hostname="" port="993" />
</configuration>